___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Pandas Project Exercise 

# The Data

This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things.

All personally identifying information has been removed from the data.

Acknowledgements
The data is originally from the article Hotel Booking Demand Datasets, written by Nuno Antonio, Ana Almeida, and Luis Nunes for Data in Brief, Volume 22, February 2019.


----------------------------

#### NOTE: Names, Emails, Phone Numbers, and Credit Card numbers in the data are synthetic and not real information from people. The hotel data is real from the publication listed above.

## <div style="text-align: center">Data Column Reference</div>

<table><thead><tr class="rowsep-1"><th scope="col"><strong>Variable</strong></th><th scope="col"><strong>Type</strong></th><th scope="col"><strong>Description</strong></th><th scope="col"><strong>Source/Engineering</strong></th></tr></thead><tbody><tr><th scope="row"><em>ADR</em></th><td>Numeric</td><td>Average Daily Rate as defined by <a name="bbib5" href="#bib5" class="workspace-trigger">[5]</a></td><td>BO, BL and TR / Calculated by dividing the sum of all lodging transactions by the total number of staying nights</td></tr><tr><th scope="row"><em>Adults</em></th><td>Integer</td><td>Number of adults</td><td>BO and BL</td></tr><tr><th scope="row"><em>Agent</em></th><td>Categorical</td><td>ID of the travel agency that made the booking<a name="btbl1fna" href="#tbl1fna" class="workspace-trigger"><sup>a</sup></a></td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateDayOfMonth</em></th><td>Integer</td><td>Day of the month of the arrival date</td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateMonth</em></th><td>Categorical</td><td>Month of arrival date with 12 categories: “January” to “December”</td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateWeekNumber</em></th><td>Integer</td><td>Week number of the arrival date</td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateYear</em></th><td>Integer</td><td>Year of arrival date</td><td>BO and BL</td></tr><tr><th scope="row"><em>AssignedRoomType</em></th><td>Categorical</td><td>Code for the type of room assigned to the booking. Sometimes the assigned room type differs from the reserved room type due to hotel operation reasons (e.g. overbooking) or by customer request. Code is presented instead of designation for anonymity reasons</td><td>BO and BL</td></tr><tr><th scope="row"><em>Babies</em></th><td>Integer</td><td>Number of babies</td><td>BO and BL</td></tr><tr><th scope="row"><em>BookingChanges</em></th><td>Integer</td><td>Number of changes/amendments made to the booking from the moment the booking was entered on the PMS until the moment of check-in or cancellation</td><td>BO and BL/Calculated by adding the number of unique iterations that change some of the booking attributes, namely: persons, arrival date, nights, reserved room type or meal</td></tr><tr><th scope="row"><em>Children</em></th><td>Integer</td><td>Number of children</td><td>BO and BL/Sum of both payable and non-payable children</td></tr><tr><th scope="row"><em>Company</em></th><td>Categorical</td><td>ID of the company/entity that made the booking or responsible for paying the booking. ID is presented instead of designation for anonymity reasons</td><td>BO and BL.</td></tr><tr><th scope="row"><em>Country</em></th><td>Categorical</td><td>Country of origin. Categories are represented in the ISO 3155–3:2013 format <a name="bbib6" href="#bib6" class="workspace-trigger">[6]</a></td><td>BO, BL and NT</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="5"><em>CustomerType</em></th><td rowspan="5">Categorical</td><td>Type of booking, assuming one of four categories:</td><td rowspan="5">BO and BL</td></tr><tr><td>Contract - when the booking has an allotment or other type of contract associated to it;</td></tr><tr><td>Group – when the booking is associated to a group;</td></tr><tr><td>Transient – when the booking is not part of a group or contract, and is not associated to other transient booking;</td></tr><tr><td>Transient-party – when the booking is transient, but is associated to at least other transient booking</td></tr><tr><th scope="row"><em>DaysInWaitingList</em></th><td>Integer</td><td>Number of days the booking was in the waiting list before it was confirmed to the customer</td><td>BO/Calculated by subtracting the date the booking was confirmed to the customer from the date the booking entered on the PMS</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="7"><em>DepositType</em></th><td rowspan="7">Categorical</td><td>Indication on if the customer made a deposit to guarantee the booking. This variable can assume three categories:</td><td rowspan="2">BO and TR/Value calculated based on the payments identified for the booking in the transaction (TR) table before the booking׳s arrival or cancellation date.</td></tr><tr><td rowspan="3">No Deposit – no deposit was made;</td></tr><tr><td>In case no payments were found the value is “No Deposit”.</td></tr><tr><td rowspan="2">If the payment was equal or exceeded the total cost of stay, the value is set as “Non Refund”.</td></tr><tr><td rowspan="2">Non Refund – a deposit was made in the value of the total stay cost;</td></tr><tr><td rowspan="2">Otherwise the value is set as “Refundable”</td></tr><tr><td>Refundable – a deposit was made with a value under the total cost of stay.</td></tr><tr><th scope="row"><em>DistributionChannel</em></th><td>Categorical</td><td>Booking distribution channel. The term “TA” means “Travel Agents” and “TO” means “Tour Operators”</td><td>BO, BL and DC</td></tr><tr><th scope="row"><em>IsCanceled</em></th><td>Categorical</td><td>Value indicating if the booking was canceled (1) or not (0)</td><td>BO</td></tr><tr><th scope="row"><em>IsRepeatedGuest</em></th><td>Categorical</td><td>Value indicating if the booking name was from a repeated guest (1) or not (0)</td><td>BO, BL and C/ Variable created by verifying if a profile was associated with the booking customer. If so, and if the customer profile creation date was prior to the creation date for the booking on the PMS database it was assumed the booking was from a repeated guest</td></tr><tr><th scope="row"><em>LeadTime</em></th><td>Integer</td><td>Number of days that elapsed between the entering date of the booking into the PMS and the arrival date</td><td>BO and BL/ Subtraction of the entering date from the arrival date</td></tr><tr><th scope="row"><em>MarketSegment</em></th><td>Categorical</td><td>Market segment designation. In categories, the term “TA” means “Travel Agents” and “TO” means “Tour Operators”</td><td>BO, BL and MS</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="5"><em>Meal</em></th><td rowspan="5">Categorical</td><td>Type of meal booked. Categories are presented in standard hospitality meal packages:</td><td rowspan="5">BO, BL and ML</td></tr><tr><td>Undefined/SC – no meal package;</td></tr><tr><td>BB – Bed &amp; Breakfast;</td></tr><tr><td>HB – Half board (breakfast and one other meal – usually dinner);</td></tr><tr><td>FB – Full board (breakfast, lunch and dinner)</td></tr><tr><th scope="row"><em>PreviousBookingsNotCanceled</em></th><td>Integer</td><td>Number of previous bookings not cancelled by the customer prior to the current booking</td><td>BO and BL / In case there was no customer profile associated with the booking, the value is set to 0. Otherwise, the value is the number of bookings with the same customer profile created before the current booking and not canceled.</td></tr><tr><th scope="row"><em>PreviousCancellations</em></th><td>Integer</td><td>Number of previous bookings that were cancelled by the customer prior to the current booking</td><td>BO and BL/ In case there was no customer profile associated with the booking, the value is set to 0. Otherwise, the value is the number of bookings with the same customer profile created before the current booking and canceled.</td></tr><tr><th scope="row"><em>RequiredCardParkingSpaces</em></th><td>Integer</td><td>Number of car parking spaces required by the customer</td><td>BO and BL</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="4"><em>ReservationStatus</em></th><td rowspan="4">Categorical</td><td>Reservation last status, assuming one of three categories:</td><td rowspan="4">BO</td></tr><tr><td>Canceled – booking was canceled by the customer;</td></tr><tr><td>Check-Out – customer has checked in but already departed;</td></tr><tr><td>No-Show – customer did not check-in and did inform the hotel of the reason why</td></tr><tr><th scope="row"><em>ReservationStatusDate</em></th><td>Date</td><td>Date at which the last status was set. This variable can be used in conjunction with the <em>ReservationStatus</em> to understand when was the booking canceled or when did the customer checked-out of the hotel</td><td>BO</td></tr><tr><th scope="row"><em>ReservedRoomType</em></th><td>Categorical</td><td>Code of room type reserved. Code is presented instead of designation for anonymity reasons</td><td>BO and BL</td></tr><tr><th scope="row"><em>StaysInWeekendNights</em></th><td>Integer</td><td>Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel</td><td>BO and BL/ Calculated by counting the number of weekend nights from the total number of nights</td></tr><tr><th scope="row"><em>StaysInWeekNights</em></th><td>Integer</td><td>Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel</td><td>BO and BL/Calculated by counting the number of week nights from the total number of nights</td></tr><tr><th scope="row"><em>TotalOfSpecialRequests</em></th><td>Integer</td><td>Number of special requests made by the customer (e.g. twin bed or high floor)</td><td>BO and BL/Sum of all special requests</td></tr></tbody></table>

-----------

# TASKS

**Complete the tasks shown in bold below. The expected output is shown in a cell below. Be careful not to run the cell above the expected output, as it will clear the expected output. Try your best to solve these in one line of pandas code (not every single question can be solved in one line, but many can be!) Refer to solutions notebook and video to view possible solutions. NOTE: Many tasks have multiple correct solution methods!**

-----
### TASK: Run the following code to read in the "hotel_booking_data.csv" file. Feel free to explore the file a bit before continuing with the rest of the exercise.

In [1]:
import pandas as pd

In [3]:
hotels = pd.read_csv("data/hotel_booking_data.csv")

In [66]:
hotels.head(50)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,stays_in_nights
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,1
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,1
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,2
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,98.00,0,1,Check-Out,2015-07-03,Jasmine Fletcher,JFletcher43@xfinity.com,190-271-6743,************9263,2
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,107.00,0,0,Check-Out,2015-07-03,Dylan Rangel,Rangel.Dylan@comcast.net,420-332-5209,************6994,2
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,103.00,0,1,Check-Out,2015-07-03,William Velez,Velez_William@mail.com,286-669-4333,************8729,2
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,82.00,0,1,Canceled,2015-05-06,Steven Murphy,Steven.Murphy54@aol.com,341-726-5787,************3639,3
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,105.50,0,0,Canceled,2015-04-22,Michael Moore,MichaelMoore81@outlook.com,316-648-6176,************9190,3
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,123.00,0,0,Canceled,2015-06-23,Priscilla Collins PhD,PhD.Priscilla74@att.com,833-887-7898,************4642,4
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,145.00,0,0,Check-Out,2015-07-05,Laurie Smith,Smith.Laurie@att.com,804-383-4080,************5450,4
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,97.00,0,3,Check-Out,2015-07-05,Casey Thomas,Casey_T78@outlook.com,211-071-2173,************8518,4
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,154.77,0,1,Check-Out,2015-07-05,Rachel Friedman,Rachel.F@protonmail.com,435-075-8409,************9767,4
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,94.71,0,0,Check-Out,2015-07-05,Edward Torres,Edward.T@zoho.com,790-746-7471,************7719,4
15,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,97.00,0,3,Check-Out,2015-07-05,Samuel Zavala,Zavala_Samuel46@xfinity.com,649-384-5387,************7612,4
16,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,97.50,0,0,Check-Out,2015-07-05,Dr. Victor Martin,Dr.Martin@xfinity.com,331-430-8824,************6279,4
17,Resort Hotel,0,12,2015,July,27,1,0,1,2,...,88.20,0,0,Check-Out,2015-07-02,Sara Lee,Sara.L@hotmail.com,573-306-9938,************8950,1
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,107.42,0,0,Check-Out,2015-07-02,Curtis Rodriguez,CRodriguez@verizon.com,466-424-2102,************1179,1
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,153.00,0,1,Check-Out,2015-07-05,Stephanie Schmidt,StephanieSchmidt@hotmail.com,896-642-1049,************1110,4
20,Resort Hotel,0,37,2015,July,27,1,1,4,1,...,97.29,0,1,Check-Out,2015-07-06,John Matthews,John.Matthews@aol.com,952-496-4398,************1019,5
21,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,84.67,0,1,Check-Out,2015-07-07,Robert Chung,Robert.Chung47@yandex.com,382-465-6552,************8524,6
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,84.67,0,1,Check-Out,2015-07-07,Mark Garcia,MGarcia16@comcast.net,784-675-4921,************4371,6
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,99.67,0,1,Check-Out,2015-07-07,Brandon Taylor,BrandonTaylor@hotmail.com,227-329-7167,************8470,6
24,Resort Hotel,0,127,2015,July,27,1,2,5,2,...,94.95,0,1,Check-Out,2015-07-01,Angie Sanchez,Angie_Sanchez@att.com,211-889-2476,************8871,7
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,...,63.60,1,0,Check-Out,2015-07-08,Alexis King,King_Alexis70@hotmail.com,103-516-5853,************6809,7
26,Resort Hotel,0,48,2015,July,27,1,2,5,2,...,79.50,0,0,Check-Out,2015-07-08,Michael Davidson,MichaelDavidson82@att.com,336-525-2460,************8662,7
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,...,107.00,0,2,Canceled,2015-05-11,Jaime Flynn,JaimeFlynn29@gmail.com,549-866-3721,************9660,7
28,Resort Hotel,0,77,2015,July,27,1,2,5,2,...,94.00,0,0,Check-Out,2015-07-08,Mrs. Alicia Williams,Mrs..W61@yandex.com,427-564-4927,************4445,7
29,Resort Hotel,0,99,2015,July,27,1,2,5,2,...,87.30,1,1,Check-Out,2015-07-08,Heather Hart,Heather.H@xfinity.com,431-329-6663,************2780,7
30,Resort Hotel,0,118,2015,July,27,1,4,10,1,...,62.00,0,2,Check-Out,2015-07-15,Diamond Wilson,Wilson.Diamond@comcast.net,870-563-6202,************8017,14
31,Resort Hotel,0,95,2015,July,27,1,4,11,2,...,63.86,0,0,Check-Out,2015-07-16,Paul Williams,Williams_Paul@xfinity.com,789-736-8837,************7006,15
32,Resort Hotel,1,96,2015,July,27,1,2,8,2,...,108.30,0,2,Canceled,2015-05-29,Reginald Cunningham,Reginald_C57@outlook.com,800-249-2144,************5699,10
33,Resort Hotel,0,69,2015,July,27,2,2,4,2,...,65.50,0,0,Check-Out,2015-07-08,Willie Sims,Willie_S@yahoo.com,790-830-7635,************7682,6
34,Resort Hotel,1,45,2015,July,27,2,1,3,3,...,108.80,0,1,Canceled,2015-05-19,Alex Brown,Alex.B@zoho.com,956-737-1944,************4084,4
35,Resort Hotel,1,40,2015,July,27,2,1,3,3,...,108.80,0,1,Canceled,2015-06-19,Virginia Holden,Virginia.H@aol.com,734-480-9929,************8469,4
36,Resort Hotel,0,15,2015,July,27,2,1,3,2,...,98.00,0,0,Check-Out,2015-07-06,John Smith,John_Smith@xfinity.com,624-965-3392,************6445,4
37,Resort Hotel,0,36,2015,July,27,2,1,3,3,...,108.80,0,1,Check-Out,2015-07-06,Jennifer Barton,JBarton@hotmail.com,902-792-8048,************2544,4
38,Resort Hotel,1,43,2015,July,27,2,1,3,3,...,108.80,0,0,Canceled,2015-05-23,Richard Holt,Richard.Holt@hotmail.com,517-420-6344,************7544,4
39,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,137.00,0,1,Check-Out,2015-07-07,Amy Green,Amy.Green56@gmail.com,858-208-4589,************3073,5
40,Resort Hotel,1,45,2015,July,27,2,2,3,2,...,117.81,0,0,Canceled,2015-05-18,Kimberly Perez,Perez.Kimberly84@hotmail.com,320-615-3590,************4653,5
41,Resort Hotel,0,45,2015,July,27,2,2,3,2,...,79.50,0,0,Check-Out,2015-07-07,Carly Armstrong,CArmstrong@mail.com,521-784-3601,************7391,5
42,Resort Hotel,0,16,2015,July,27,2,2,3,2,...,123.00,0,0,Check-Out,2015-07-07,Scott Hammond,ScottHammond41@verizon.com,632-108-8350,************4823,5
43,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,137.00,0,1,Check-Out,2015-07-07,Debra Fuller,Debra.Fuller@protonmail.com,229-134-3710,************3550,5
44,Resort Hotel,0,107,2015,July,27,2,2,5,2,...,110.70,0,2,Check-Out,2015-07-09,Rachel Davis,RachelDavis@mail.com,549-261-2558,************2810,7
45,Resort Hotel,1,47,2015,July,27,2,2,5,2,...,153.00,0,0,Canceled,2015-06-02,Michael Mccormick,Mccormick.Michael19@aol.com,380-830-9585,************2950,7
46,Resort Hotel,0,96,2015,July,27,2,2,5,2,...,58.95,0,1,Check-Out,2015-07-09,Ann Sullivan,AnnSullivan@att.com,947-577-3720,************4782,7
47,Resort Hotel,0,113,2015,July,27,2,2,5,2,...,82.88,0,2,Check-Out,2015-07-09,Rachel Wallace,Rachel_W79@xfinity.com,870-988-2775,************1133,7
48,Resort Hotel,0,90,2015,July,27,2,2,5,2,...,82.35,0,0,Check-Out,2015-07-09,Carla Ferguson,Carla_Ferguson@att.com,724-910-8709,************8339,7
49,Resort Hotel,0,50,2015,July,27,2,2,5,2,...,119.35,0,1,Check-Out,2015-07-09,Greg Hardin,Hardin_Greg@gmail.com,488-646-3204,************1449,7

---
**TASK: How many rows are there?**

In [4]:
# CODE HERE

len(hotels)

119390

119390

**TASK: Is there any missing data? If so, which column has the most missing data?**

In [8]:
# CODE HERE
hotels.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [13]:
print(f"Yes, missing data, company column missing: {hotels['company'].isna().sum()} rows.")

Yes, missing data, company column missing: 112593 rows.

Yes, missing data, company column missing: 112593 rows.

**TASK: Drop the "company" column from the dataset.**

In [14]:
# CODE HERE
hotels.drop("company", axis=1, inplace= True)

In [16]:
hotels.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             488
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             16340
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
name                                  0
email                                 0
phone-number                          0
credit_card                           0
dtype: int64

**TASK: What are the top 5 most common country codes in the dataset?**

In [24]:
# CODE HERE
hotels["country"].value_counts()[:5]

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

**TASK: What is the name of the person who paid the highest ADR (average daily rate)? How much was their ADR?**

In [31]:
# CODE HERE
hotels.sort_values("adr", ascending= False)[["adr", "name"]].iloc[0]

adr            5400.0
name    Daniel Walter
Name: 48515, dtype: object

adr              5400
name    Daniel Walter
Name: 48515, dtype: object

**TASK: The adr is the average daily rate for a person's stay at the hotel. What is the mean adr across all the hotel stays in the dataset?**

In [37]:
# CODE HERE
round(hotels["adr"].mean(),2)

101.83

101.83

**TASK: What is the average (mean) number of nights for a stay across the entire data set? Feel free to round this to 2 decimal points.**

In [41]:
# CODE HERE
# stays_in_weekend_nights	stays_in_week_nights
round(hotels["stays_in_weekend_nights"].mean() + hotels["stays_in_week_nights"].mean(), 2)

3.43

3.43

**TASK: What is the average total cost for a stay in the dataset? Not *average daily cost*, but *total* stay cost. (You will need to calculate total cost your self by using ADR and week day and weeknight stays). Feel free to round this to 2 decimal points.**

In [49]:
# CODE HERE
hotels["stays_in_nights"] = hotels["stays_in_weekend_nights"] + hotels["stays_in_week_nights"]

In [55]:
round((hotels["stays_in_nights"] * hotels["adr"]).mean(), 2)

357.85

357.85

**TASK: What are the names and emails of people who made exactly 5 "Special Requests"?**

In [58]:
# CODE HERE
# total_of_special_requests
hotels[["name", "email"]][hotels["total_of_special_requests"] == 5]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

**TASK: What percentage of hotel stays were classified as "repeat guests"? (Do not base this off the name of the person, but instead of the is_repeated_guest column)**

In [65]:
#CODE HERE

round((sum(hotels["is_repeated_guest"] == 1) / hotels["is_repeated_guest"].count()) * 100, 2)

3.19

3.19

**TASK: What are the top 5 most common last name in the dataset? Bonus: Can you figure this out in one line of pandas code? (For simplicity treat the a title such as MD as a last name, for example Caroline Conley MD can be said to have the last name MD)**

In [69]:
#CODE HERE

In [83]:
hotels["name"].str.split(' ').str[1].value_counts()[:5]

Smith       2510
Johnson     1998
Williams    1628
Jones       1441
Brown       1433
Name: name, dtype: int64

Smith       2510
Johnson     1998
Williams    1628
Jones       1441
Brown       1433
Name: name, dtype: int64

**TASK: What are the names of the people who had booked the most number children and babies for their stay? (Don't worry if they canceled, only consider number of people reported at the time of their reservation)**

In [96]:
#CODE HERE
hotels["total_kids"] = hotels["babies"] + hotels["children"]

In [97]:
hotels.sort_values("total_kids", ascending= False) [["name", "adults", "total_kids", "babies", "children"]][:3]

                  name  adults  total_kids  babies  children
328      Jamie Ramirez       2        10.0       0      10.0
46619  Nicholas Parker       2        10.0      10       0.0
78656    Marc Robinson       1         9.0       9       0.0

                  name  adults  total_kids  babies  children
328      Jamie Ramirez       2        10.0       0      10.0
46619  Nicholas Parker       2        10.0      10       0.0
78656    Marc Robinson       1         9.0       9       0.0

**TASK: What are the top 3 most common area code in the phone numbers? (Area code is first 3 digits)**

In [82]:
#CODE HERE

In [102]:
hotels["phone-number"].str.split('-').str[0].value_counts()[:3]

799    168
185    167
541    166
Name: phone-number, dtype: int64

Code - Total Count

799    168
185    167
541    166
Name: phone-number, dtype: int64

**TASK: How many arrivals took place between the 1st and the 15th of the month (inclusive of 1 and 15) ? Bonus: Can you do this in one line of pandas code?**

In [90]:
#CODE HERE

In [109]:
hotels['arrival_date_day_of_month'].apply(lambda day: day > 0 and day < 16).sum()

58152

58152


**HARD BONUS TASK: Create a table for counts for each day of the week that people arrived. (E.g. 5000 arrivals were on a Monday, 3000 were on a Tuesday, etc..)**

In [105]:
# CODE HERE

In [110]:
import numpy as np

In [111]:
def convert(day,month,year):
    return f'{day}-{month}-{year}'

In [112]:
hotels['date']  = np.vectorize(convert)(hotels['arrival_date_day_of_month'],
                                        hotels['arrival_date_month'],
                                        hotels['arrival_date_year'])

In [113]:
hotels['date'] = pd.to_datetime(hotels['date'])

In [114]:
hotels['date'].dt.day_name().value_counts()

Friday       19631
Thursday     19254
Monday       18171
Saturday     18055
Wednesday    16139
Sunday       14141
Tuesday      13999
Name: date, dtype: int64

Friday       19631
Thursday     19254
Monday       18171
Saturday     18055
Wednesday    16139
Sunday       14141
Tuesday      13999
Name: date, dtype: int64

---

---